---
---
.bar-menu {
  width: 100%;
  text-align: center;
}

.post-title {
  text-align: center;
}

.food-menu {
  width: 100%;
  text-align: center;
}

.logo {
  height: 40px;
  padding: 5px;
}

.text-center {
  text-align: center;
}

// la gustosa

.la-gustosa-font {
  font-family: 'Handlee', cursive;
  font-weight: 600;
}

ul {list-style: none;}

.description {
  font-size: smaller;
  color: rgba(223, 223, 223, 0.596);
}

.back-to-sections {
  text-align: right;
}

.blackboard-background {
  color: white;
  background-image: url("/assets/images/la-gustosa/blackboard.jpg");
  a {color: rgba(197, 197, 197, 0.938) !important;}
}